body {
	margin: 0;
}
main {
	margin: .5em;
}
nav.view {
	display: flex;
}
nav.view .routes {
	width: 30%;
}
nav.view .filter {
	width: 70%;
}
nav.view .filter textarea {
	height: 10em;
}
footer {
	position: sticky;
	bottom: 0;
	padding: .5em;
	background: Canvas;
	box-shadow: 0 0 .5em;
}
footer .status {
	display: flex;
}
footer .status .redactions {
	flex: 5 1 auto;
}
footer .status .elements {
	flex: 1 1 auto;
	text-align: center;
}
footer .status .elements .meter {
	display: block;
	font-size: 2em;
	font-family: sans-serif;
}
footer .status .elements .meter input {
	text-align: right;
	font-size: 1em;
	font-family: sans-serif;
	border: 0;
	background: transparent;
}
footer .status .elements .units {
	display: block;
}
footer p, footer ul {
	margin: 0 0 .5em 0;
}
table td { text-align: right }
.create {background: #CFC}
.modify {background: #FFC}
.delete {background: #FCC}
details.element {
	margin: .5em 0;
}
details.element.active {
	outline: solid .5em red;
}
details.element[open] {
	margin-bottom: 1.5em;
}
details.element h3 {
	display: inline-block;
	margin: 0;
}
details.element table {
	border-collapse: collapse;
	margin-top: .5em;
}
details.element td.selected-version {
	border-left: solid 3px #004;
	border-right: solid 3px #004;
}
details.element tr:first-child td.selected-version {
	border-top: solid 3px #004;
}
details.element tr:last-child td.selected-version {
	border-bottom: solid 3px #004;
}
details.element tr.tag.target {
	background: #FCF;
}
details.element tr.tag td.value {
	word-break: break-all;
}
details.element table tr.tag button {
	margin: -1px 2px;
	padding-top: 0;
	padding-bottom: 0;
	border: solid 1px;
}
details.element table small button {
	font-size: .8em;
}
details.element table tr.tag button:hover {
	background: #CEF;
}
.connector {
	display: block;
	position: absolute;
	right: 0;
	margin-top: -1.5em;
	width: 3em;
	height: 3em;
	background: url("${svgConnector}");
}
.connector .message {
	display: none;
}
.connector:hover .message {
	display: block;
	position: absolute;
	background: white;
	line-height: 1.5em;
	width: auto;
	white-space: nowrap;
	bottom: -1.5em;
	right: 0;
	padding: 0 .5em;
}
form.real {
	margin: 1em 0;
}
input[type=text] {
	display: block;
	box-sizing: border-box;
	width: 100%;
}
textarea {
	box-sizing: border-box;
	width: 100%;
	height: 20em;
}
button.wait {
	cursor: wait;
}
.js-enabled {
	outline: solid 1px #F80;
}
.js-enabled:focus {
	outline: dashed 5px #F80;
}
.error {
	border: solid .5em #F00;
	padding: 1em;
	margin: .5em 0;
}
.error.outdated {
	border-color: #888;
}
.examples a {
	color: LinkText;
	text-decoration: underline dashed;
	cursor: pointer;
}
.examples .controls {
	color: GrayText;
}
